.centrado{
    margin: auto;
    width: 20%;
    padding: 10px;
}

.center{
    text-align: left;
    border: 3px solid green;
    padding: 10px;
}

.separacion{
    margin-top: 20px;
}

.cen{
    text-align: center;
}

.body {
    height:665px;
    background-image: url("Imagenes/bef07b0d0671dc3cfbbc0948be20e586.jpg");
    background-size: 10rem;
    
  }
